<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #color-panel{
            background-color: red;
            width: 400px;
            height:400px;
        }
    </style>
</head>
<body>
    hello world


    <div id="color-panel"></div>

    <button id="changeColor">색깔 변경</button>

<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/js/codecoast/colorChanger.js"></script>


</body>
</html>